/* reservas.css */
#reservas {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    max-width: 950px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para o filtro de reservas */
.filtro-reservas {
    margin-bottom: 20px;
    text-align: center;
}

#filtro,
#data-filtro {
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
}

#filtrar-reservas {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#filtrar-reservas:hover {
    background-color: #218838;
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

thead {
    background-color: #2d3e50;
    color: #fff;
    font-size: 1.2rem;
}

th,
td {
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    font-weight: bold;
    width: 250px;
}

tbody tr:hover {
    background-color: #f2f2f2;
}

/* Estilos para novos cards */
.dashboard-details {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.card-reservas {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1.2rem;
}

#clientes-fieis {
    list-style-type: none;
    padding: 0;
}

#clientes-fieis li {
    font-size: 1rem;
    margin-bottom: 5px;
}