/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  background: rgb(154, 154, 189);
  font-family: 'Lexend Deca', sans-serif;
}

/* Navegação */
.navigation {
  position: relative;
  height: 1300px;
  background: rgb(34, 34, 116);
  width: 70px;
  box-shadow: 10px 0 0 rgb(235, 87, 29);
  border-left: 10px solid rgb(34, 34, 116);
  overflow: hidden;
  transition: 0.5s;
}

.navigation:hover {
  width: 300px;
}

.navigation ul {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigation ul li a {
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: white;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  text-align: center;
  line-height: 70px;
}

.navigation ul li a .icon ion-icon {
  position: relative;
  font-size: 1.5rem;
  z-index: 1;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.navigation ul li.active {
  background: rgb(235, 87, 29);
}

.navigation ul li.active a::before {
  content: '';
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background: rgb(34, 34, 116);
  border-radius: 50%;
  box-shadow: 15px 15px 0 rgb(235, 87, 29);
}

.navigation ul li.active a::after {
  content: '';
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background: rgb(34, 34, 116);
  border-radius: 50%;
  box-shadow: 15px -15px 0 rgb(235, 87, 29);
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.user-profile img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 10px;
  border: 4px solid #fff8f8;
}

.user-profile h4 {
  margin: 0;
}

.container {
  display: block;
  position: relative;
  background-color: white;
  width: 100%;
  border-left: solid 10px orange;
  padding: 100%;
  padding: 10px;
}

.lista {
  margin-top: 120px;
}

#primeiraTela #primeira {
  text-align: center;
  margin-top: 40px;
  margin-left: 120px;
  width: 80%;
  padding: 30px;
  border-radius: 10px;
}

h3 {
  margin-left: 80%;
}

.bx {
  font-size: 24px;
}

/* Alerta de saída */
#alerta {
  display: none;
  /* Inicialmente oculto */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1000;
  /* Garantir que o alerta apareça sobre outros elementos */
}

#alerta button {
  margin: 5px;
}